name: Github PR Bot
on:
  issues:
    types: [opened, edited, closed, reopened]
  issue_comment:
    types: [created]
  pull_request:
    types: [opened, edited, closed, reopened]
jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout repo
       uses: actions/checkout@v4


     - name: Run Node script
       run: |
         echo "Sending message to Discord..."
                    MESSAGE="GitHub event triggered: ${{ github.event_name }}"
                    curl -H "Content-Type: application/json" \
                      -X POST \
                      -d "{"content": "${MESSAGE}"}" \
                      "${{ secrets.DISCORD_WEBHOOK_URL }}"